/* HEADER */
.header {
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(8px + 3vmin);
  border-bottom: 1px solid lightgrey;
}

.logo {
  height: 77px;
  transform: translateY(3px);
}

.headerInner {
    width: 100%;
}

.loginBlock {
  float: right;
}

.loginBlock a {
    color: #444444;
}

.loginBlock a:hover {
    color: darkorchid;
}