.item {
  margin-bottom: 40px;
  display: flex;
}

.img {
  margin-right: 25px;
}
.img img {
  width: 150px;
  border-radius: 40%;
}

.content {
  margin-left: 0px;
}

.label {
  margin-top: 0;
}

.text {
  font-size: 1rem;
  width: 97%;
}
