body {
  display: flex;
}

#root,
body,
.App {
  min-height: 100vh;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(46, 163, 241);
}
a:hover {
  text-decoration: underline;
}

input:not([type="radio checkbox"]),
textarea {
  padding: 5px;
}

.inputField {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #444;
}

.App-logo {
  height: 10vh;
  animation: App-logo-spin infinite 2s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}

/* MAIN */
.main-wrap {
  background-color: white;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: normal;
  justify-content: left;
}

.App-main-content {
  flex: 1 0;
  padding: 0;
}

.App-main-content > div {
  padding: 20px 20px 20px 30px;
}

/* Messages */
.selfMessage {
  justify-content: flex-end !important;
}
.selfMessage > div {
  flex-direction: row-reverse;
}
.selfMessage > div img {
  margin-right: 10px;
  margin-left: 15px;
}
.selfMessage > div > div {
  border-radius: 8px 0 6px 8px;
  background-color: rgb(98, 165, 241);
  color: rgb(239, 242, 245);
}
.selfMessage > div > div::before {
  left: auto;
  right: -5px;
  transform: rotate(-135deg);
  border-left-color: rgb(98, 165, 241);
}

/* FOOTER */
.App-footer {
  flex-shrink: 0;
  border-top: 1px solid lightgray;
  padding: 10px 20px;
}
