body {
  display: flex;
}

#root,
body,
.App {
  min-height: 100vh;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(46, 163, 241);
}
a:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #444;
}

.App-logo {
  height: 10vh;
  animation: App-logo-spin infinite 2s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}

/* MAIN */
.main-wrap {
  background-color: white;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: normal;
  justify-content: left;
}

.App-main-content {
  flex: 1 0 auto;
  padding: 15px;
}

/* FOOTER */
.App-footer {
  flex-shrink: 0;
  border-top: 1px solid lightgray;
  padding: 10px 20px;
}
