.wrapper {
  margin-bottom: 40px;
}

.messagesContent {
  display: flex;
  justify-content: space-between;
}

.messagesContent > div {
  flex: 1 0;
}

.dialogs {
}

.dialog {
}

.messages {
}

.message {
}
